.grid{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px,auto);
    background: #609E98
}
.header{
    grid-column: 1/12;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    color: #D0E271;
    align-self: center;
    justify-self: center;
    font-size: 100px;
}
